.icon-download,.icon-chat,.icon-archive,.icon-user,.icon-users,.icon-archive2,.icon-earth,.icon-location,.icon-contract,.icon-mobile,.icon-screen,.icon-mail,.icon-support,.icon-help,.icon-videos,.icon-pictures,.icon-link,.icon-search,.icon-cog,.icon-trashcan,.icon-pencil,.icon-info,.icon-article,.icon-clock,.icon-photoshop,.icon-illustrator,.icon-star,.icon-heart,.icon-bookmark,.icon-file,.icon-feed,.icon-locked,.icon-unlocked,.icon-refresh,.icon-list,.icon-share,.icon-archive3,.icon-images,.icon-images2,.icon-pencil2,.icon-tongue {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(sprites.png);
	background-repeat: no-repeat;
}
.icon-download {
	background-position: 0 0;
}
.icon-chat {
	background-position: -64px 0;
}
.icon-archive {
	background-position: -128px 0;
}
.icon-user {
	background-position: -192px 0;
}
.icon-users {
	background-position: -256px 0;
	width: 40px;
}
.icon-archive2 {
	background-position: -320px 0;
}
.icon-earth {
	background-position: -384px 0;
}
.icon-location {
	background-position: -448px 0;
}
.icon-contract {
	background-position: -512px 0;
	width: 35px;
	height: 35px;
}
.icon-mobile {
	background-position: -576px 0;
}
.icon-screen {
	background-position: -640px 0;
}
.icon-mail {
	background-position: -704px 0;
}
.icon-support {
	background-position: -768px 0;
	width: 35px;
	height: 35px;
}
.icon-help {
	background-position: -832px 0;
}
.icon-videos {
	background-position: -896px 0;
}
.icon-pictures {
	background-position: -960px 0;
}
.icon-link {
	background-position: 0 -64px;
}
.icon-search {
	background-position: -64px -64px;
}
.icon-cog {
	background-position: -128px -64px;
}
.icon-trashcan {
	background-position: -192px -64px;
}
.icon-pencil {
	background-position: -256px -64px;
}
.icon-info {
	background-position: -320px -64px;
}
.icon-article {
	background-position: -384px -64px;
}
.icon-clock {
	background-position: -448px -64px;
}
.icon-photoshop {
	background-position: -512px -64px;
}
.icon-illustrator {
	background-position: -576px -64px;
}
.icon-star {
	background-position: -640px -64px;
	width: 35px;
	height: 35px;
}
.icon-heart {
	background-position: -704px -64px;
}
.icon-bookmark {
	background-position: -768px -64px;
}
.icon-file {
	background-position: -832px -64px;
}
.icon-feed {
	background-position: -896px -64px;
}
.icon-locked {
	background-position: -960px -64px;
}
.icon-unlocked {
	background-position: 0 -128px;
}
.icon-refresh {
	background-position: -64px -128px;
}
.icon-list {
	background-position: -128px -128px;
}
.icon-share {
	background-position: -192px -128px;
}
.icon-archive3 {
	background-position: -256px -128px;
}
.icon-images {
	background-position: -320px -128px;
	width: 44px;
}
.icon-images2 {
	background-position: -384px -128px;
}
.icon-pencil2 {
	background-position: -448px -128px;
}
.icon-tongue {
	background-position: -512px -128px;
}
