.profile
{
  left:20px;
  width:50%;
  float:none;
}
.center-text
{
  text-align:center;
}
.tile-title .title h2 {
  padding-top: 10px;
  font-weight: bold;
  color: #ffffff;
}
h1 big, h2 big, h3 big {
  font-family: "Lato", sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 1.1;
  color: #373e4a;
}
.profile-env section.profile-info-tabs{
	background-image: url("../images/org_bg.png");
}
hr .small{
	margin-bottom: 0px;
}
.white
{
	color: white;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  vertical-align: middle;
}

.profile-env>header .profile-picture img {
  box-shadow: 0 0 0 5px rgba(226, 252, 251, 0.9);
}

.org-bc>li a:hover{
  color:#f2f2f2;
}

.org-bc>li a{
  color:#63E2DD;
}

.breadcrumb>li i{
  color:#63E2DD;
}

.org-bc>.active{
  color:#f2f2f2;
}

.page-container .main-content-org{
  padding-top: 0px;
}

.profile-env>header.pow{
  margin-top:10px;
}
.tile-progress .tile-footer.tile{
text-align:center;
}

a>h2:hover, a>h2:focus{
  text-decoration: none;
  color:#21a9e1;
}