

/******************** GLOBAL ******************************/
	body{
		background: url(../img/bg.gif);/*#f5f5f5 *//*f1f7fe*/;
		font-size:14px;
		font-family: 'Roboto', sans-serif;
				/*font-family: 'Sintony', sans-serif;*/
				
		
	}
	

	
	h1, h2, h3, h4{
		color:#5bc0de;
	}
	
	section{}
	
	.container{
		max-width:1170px;
	}
	.container2{
		max-width:1170px;
		margin-top: 50px;
		text-align: left;
	}
	
	.main-wrapper
	{
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 1360px;
		min-height: 100%;
		min-width: 100%;
		position:relative;
		width: 100%;
	}

	/*************** FIX BS MARGIN on fluid scafolding **************/ 
	#container-folio.row-fluid .span6:nth-child(2n+1){
		margin-left:0px;
	}
	
	#container-folio.row-fluid .span4:nth-child(3n+1){
		margin-left:0px;
	}	
	
	#container-folio.row-fluid .span3:nth-child(4n+1){
		margin-left:0px;
	}
	
	.row-fluid.label-blocks .span4:nth-child(3n+1), 
	.row-fluid.label-blocks .span3:nth-child(4n+1),
	.row-fluid.label-blocks .span6:nth-child(2n+1){
		margin-left:0px;
	}	 
	.row-fluid.label-blocks .span4, 
	.row-fluid.label-blocks .span3,
	.row-fluid.label-blocks .span6{
		margin-bottom:30px;
	}	

/**************************** EVENTS ANIMATED ***************************/	
	.relative{
		position:relative;
		display:inline-block;
		min-height:230px;
	}
	
	.o-hidden{
		overflow:hidden;
	}
	#show1{
		position:absolute;
		top:0px;
		left:500px;
	}
	
	#show2{
		position:absolute;
		top:0px;
		right:500px;
	}
	
	#show1.animated{
		position:absolute;
		top:0px;
		left:0px;
	}
	
	#show2.animated{
		position:absolute;
		top:0px;
		right:0px;
	}
	
	.progress .bar.notactive{
		width:0% !important;
	}
	
	#showbar{
	
	}
	
/*************************** TOP ******************************/
	.navbar {
  font-size: 16px; 
 /* background:url(../img/shadowtop.png) center bottom no-repeat;
  padding-bottom:20px;
  margin-bottom:-20px;*/
  }
	
	.navbar-inner {
		border: none;
		padding-left: 4px;
		padding-right: 4px;
		padding-top:4px;
		padding-bottom:4px;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); 
	}

 .navbar-inner {
	background: #fff;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
  
  .navbar .nav > li > a {
	border-top:3px solid transparent;
 
 }
 .navbar .nav > li > a:hover{
	background:none;
 }
 .navbar .nav .active > a, .navbar .nav .active > a:hover, .navbar .nav  .active > a:focus {
	background: none;
	color: #2b2b2b;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none; 
	border-top:6px solid #31b0d5;
  }

	.navbar .brand {
		color: #5bc0de;
		font-size: 26px;
		font-weight: 700;
		position:relative;
		
	}
	
	.navbar .brand span{
		color: #fff;
		margin-left:-20px;
		padding: 20px 20px 15px;
		margin-right:10px;
		
		
		}
	footer .brand {
		color:#fff;
		text-decoration:none;
		font-size: 26px;
		font-weight: 700;
	}	
	footer .brand:hover {
		color:#5bc0de;
		text-shadow: -1px -1px 0px #000;
	}
	.navbar .brand:hover {
		color: #57A4C8;
	
	}
	
	.navbar-fixed-top, .navbar-static-top{
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
	
	}
	
	.navbar-fixed-top .navbar-inner, 
	.navbar-static-top .navbar-inner {
		-webkit-box-shadow: 0 4px 0px rgba(50, 50, 50, 0.03);
		-moz-box-shadow: 0 4px 0px rgba(50, 50, 50, 0.03);
		box-shadow: 0 4px 0px rgba(50, 50, 50, 0.03);
	}
	
	
	.navbar-inner{
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;

	}
	
	.nav-collapse .collapse {
		-moz-transition: height 0.3s ease-in-out;
		-ms-transition: height 0.3s ease-in-out;
		-o-transition: height 0.3s ease-in-out;
		transition: height 0.3s ease-in-out;
		-webkit-transition: height 0.3s ease-in-out;
	
	}
	.navbar .nav {
		margin: 9px 10px 0 0;
	}
	
	.navbar-inner.scroll{

		padding:0px 0px 5px;
	}
	section{
		padding-top:50px;
		border-bottom:1px solid #dedede;
		
	}
	.headertop {
		padding-top:40px;
		background: #2C3E50;
		background: -moz-linear-gradient(45deg, #2C3E50 0%, #527394 100%) 50% 0 fixed;
		background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#2C3E50), color-stop(100%,#527394))50% 0 fixed;
		background: -webkit-linear-gradient(45deg, #2C3E50 0%,#527394 100%)50% 0 fixed;
		background: -o-linear-gradient(45deg, #2C3E50 0%,#527394 100%)50% 0 fixed;
		background: -ms-linear-gradient(45deg, #2C3E50 0%,#527394 100%)50% 0 fixed;
		background: linear-gradient(45deg, #2C3E50 0%,#527394 100%)50% 0 fixed;
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2C3E50', endColorstr='#527394',GradientType=1 );
	}
	.hero-unit {
		margin-top:0px;
		margin-bottom:0px;
		padding-top:45px;
		
	}
	



/***************************** SOCIAL BUTTONS ******************************/	
	ul.social-top {
		display: inline-block;
		margin-top: 0px;
		margin-left: 1px;
		padding: 0px;
		padding-left: 0px;
		
	}
	
	ul.social-top li {
		background: #fff;
		
		display: block;
		float: left;
		height: 30px;
		list-style: none;
		margin: 14px 2px 4px 2px;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		padding-top: 10px;
		padding-bottom: 1px;
		text-align: center;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		width: 45px;
		background-position: 0px 0px;
		box-shadow: rgb(153, 153, 153) 0px 1px 1px;
-webkit-box-shadow: rgb(153, 153, 153) 0px 1px 1px;
-moz-box-shadow: rgb(153, 153, 153) 0px 1px 1px;
	}
	.thumbnail:hover ul.social-top li:hover {
		background: #2b2b2b;
		
	}
	
	
	.thumbnail:hover ul.social-top li{
		background:#16a085;
		
	}
	.thumbnail:hover ul.social-top li a{
		color:#fff;
		
	}
	
	footer ul.social-top li {
		background: #438fa5;
		border:1px solid #fff;
		display: block;
		float: left;
		height: 30px;
		list-style: none;
		margin: 3px 1px 1px;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		padding-top: 10px;
		padding-bottom: 1px;
		text-align: center;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		width: 45px;
		background-position: 0px 0px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}
	footer ul.social-top li:hover {
		background: #5bc0de;
		color:#16a085;
		
	}
	
	footer ul.social-top li a{
		color:#fff;
		text-decoration:none;
		display:inline-block;
		width:100%;
		height:100%;
	}
	ul.social-top li a{
		color:#16a085;
		text-decoration:none;
		display:inline-block;
		width:100%;
		height:100%;
	}
	
	



/************************** BS ELEMENTS *********************************/		
	.well {
		color:#2b2b2b;
		background:none;
		border-left:none;
		border-right:none;
		border-top:none;
		border-bottom:1px solid #ECF0F1;
		margin-bottom:40px;
		font-size:120%;
		
	}
	.well h2{
		font-size:48px;
		line-height: 1;
	}
	
	
	
	.thumbnail{
		background-color: #FFF;
		display: block;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		overflow: hidden;
		box-shadow: rgb(153, 153, 153) 0px 1px 1px;
		-webkit-box-shadow: rgb(153, 153, 153) 0px 1px 1px;
		-moz-box-shadow: rgb(153, 153, 153) 0px 1px 1px;
		padding:0px;
		margin-bottom:30px;

		}
		
	.thumbnail:hover{
		
	}
	 
	.thumbnail img{
		border-bottom:1px solid #dedede;
	}	
	
	.img-circle{
		-webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.41);
			-moz-box-shadow:  0px 0px 3px rgba(50, 50, 50, 0.41);
				box-shadow:  0px 0px 3px rgba(50, 50, 50, 0.41);
		border: 2px solid #fff;
		
	}
	
	.navbar .btn-navbar,
	.navbar .btn-navbar:hover  {
	
		float: right;
		padding: 10px 10px;
		margin-right: 0px;
		margin-left: 5px;
		margin-top:7px;
		color: #ffffff;
		text-shadow: none;
		background-color: #fff;
		background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
		background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
		background-image: -o-linear-gradient(top, #ffffff, #ffffff);
		background-image: linear-gradient(to bottom, #ffffff, #ffffff);
		background-repeat: repeat-x;
		border: 1px solid #2b2b2b;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #dedede;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		box-shadow: rgb(153, 153, 153) 0px 1px 0px;
		-webkit-box-shadow: rgb(153, 153, 153) 0px 1px 0px;
		-moz-box-shadow: rgb(153, 153, 153) 0px 1px 0px;

		height:100%;
			-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.navbar .btn-navbar .icon-bar {

	width: 30px;
	height: 4px;
	background: #2b2b2b;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin:4px;
	float:none;
}
/************************************** CUSTOM STYLES *************************/
.btn.btn-action {
	background:url(../img/actionbtnalt.jpg)	center center no-repeat;
	background-size:100% 100%;
	padding:30px 0px;
	width:100%;
	min-width:100%;
	text-transform:uppercase;
}
.btn.btn-action:hover {
	background-size:120% 120%;
}

/*****
STORES ICONS 
********/

.anroid-logo{
	display:inline-block;
	float:left;
	width:40px;
	height:40px;
	background: url(../img/androidicon.png) center center no-repeat;
	margin-left:5px;
}
.appstore-logo{
	display:inline-block;
	float:left;
	width:40px;
	height:40px;
	background: url(../img/appsticon.png) center center no-repeat;
	margin-left:5px;
}

.gplay-logo{
	display:inline-block;
	float:left;
	width:40px;
	height:40px;
	background: url(../img/gplay.png) center center no-repeat;
	margin-left:5px;
}
.feature-box {

	position: relative;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:10px;
	margin: 0 0 20px 0;
}

  .feature-box p {
    font-size: 15px;
    margin-bottom: 33px; }

.feature-box-image {
  height: 170px;
  margin: 31px 0 27px;
  vertical-align: bottom; }
  .feature-box-image.big-illustration {
    height: 111px;
    margin-top: 20px;
    width: 150px; }

.feature-box-title {
  font-size: 20px;
  margin: 0; }
  
  .paragraph-middle{
	margin-bottom:5px;
  }
	
	.box, .feature-box{
		margin-bottom:5px;
		
	}
	

	.label {
		white-space:normal;
	}
	.btn{
	/*-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;*/
	}
	i.fa-icon-large{
		font-size:112px;
		margin-top:10px;
	}
	i.fa-icon-medium{
		font-size:56px;
		
	}
	*.white{
		color:#fff;
	}
	.panel span.iwrap{
		display:block;
		width:50px;
		float:left;
		margin:10px 10px 10px 10px;
		text-align:center;
		font-size:100%;
		
	}
	.wedo p{
		padding-top:0px;
	}
	.label{
		
		padding:5px 5px;
		display:block;
		background:none;
		color:#2b2b2b;
				-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
							box-sizing: border-box;
		
	}
	.label-new{
		border-left:1px solid #2b2b2b;
		border-right:1px solid #2b2b2b;
	}
	.label-info{
		background:#AECED8;
	}	
	
	.label-inverse{
		background:#595f6b;
	}
	
	.label-saccess{
		background:#5bc0de;
	}
	
	.label-gray{
		background:#dedede;
	}
	.label.label-large{
		display:inline-block;
		width:100%;
		min-height:150px;
		-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
				border-radius: 7px;
		-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
				box-sizing: border-box;

-webkit-box-shadow: 0px 1px 0px rgba(50, 50, 50, 0.31);
-moz-box-shadow:    0px 1px 0px rgba(50, 50, 50, 0.31);
box-shadow:         0px 1px 0px rgba(50, 50, 50, 0.31);
	}
	.label-blocks h3,
	.label-blocks h4{
		text-align:center;
		color:#2b2b2b;
		text-transform:uppercase;
		margin-top:20px;
	}
	
	.red-panel-bottom{

		background: #b94a48 url(../../images/bluebg.jpg) 0% 0% fixed repeat-y;
		/*background:#2b2b2b;*/
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
			-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
				background-size:100% auto;
	}	
	

	
	.dark-panel-bottom{

		position:relative;
		padding:30px 0px;
		background:#2b2b2b;
		-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
			-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
		
	}
	
	/*********************** APPS PANEL **************************/
	
	.overlay-panel{
		padding: 50px 0px;
		margin:0px;
		width:100%;
		height:100%;		
		min-width:100%;
		min-height:100%;
		background: rgba(0,0,0, 0.5);
		
	}
	.overlay-panel p {
		color:#fff;
		font-weight:200;
	}
	
	.overlay-panel .label{
		border-color:#fff;
	}
	.overlay-panel .panel span{
		color:#fff;
	}	
	.overlay-panel .panel p.lead{
		padding-left:0px;
		margin-top:20px;
	}
	.red-panel-bottom .lead{
		font-size:250%;
		color:#fff;
		line-height:28px;
		font-weight:300;
		padding:3px 10px;
		display:inline-block;
		line-height:30px;
	}
	
	 .panel.marketing-lines{
	padding: 50px 0px;
	background:url(../img/bg.gif); /*#f0f0f0;*/
	border-top:1px solid #d0d0d0;
	
  }
  	.panel .lead{
		font-size:140%;
	}
	.slogan.lead{
		color:#595f6b;
		text-shadow: 0px 1px 0px #fff;
		font-size:250%;
		line-height:38px;
		font-weight:300;
		text-chadow: 0px 1px 0px #fff;
	}

	.overlay-panel .label.label-new{
		margin-top:5px;
		padding:0px 3px 3px 3px;
		display:inline-block;
		width:100%;
		line-height:40px;
		background:rgba(250,250,250, 0.1);
	}
	
	.overlay-panel hr {
		margin: 0px 0;
		border: 0;
		border-top: 1px solid rgba(0,0,0, 0.6);
		border-bottom: 1px solid rgba(250,250,250, 0.25);
	}
	.overlay-panel span.label.label-new [class^="fa-icon-"], .overlay-panel span.label.label-new[class*=" fa-icon-"]{
		font-size:35px;
	}
	p{
		text-align:justify;
		padding:10px 0px;
	}
	.feature-box p{
		text-align:center;
	}
	.pricing-table p{
		padding:0px;
		margin-top:5px;
		font-size:90%;
	}
	
	*.main-color{
		color:#2b2b2b;
	}
	.camein {
		width: 100%;
		min-width: 100%;
		display:block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		}
	.camein p{
		min-width:50%;
		background: rgba(250,250,250, 0.15);
		position: relative;
		margin-left: auto;
		margin-right: auto;
		padding: 10px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		text-align:center;
		text-align:center;
		padding-left:auto;
		padding-right:auto;
		display:inline-block;
		border:1px solid rgba(250,250,250, 0.28);
	}
	
		.btn-block-third {
			display: block;
			width: 40%;
			padding-right: 0;
			padding-left: 0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			float: left;
		}
		
		i.or {
			float: left;
			display: block;
			width: 20%;
			padding-top: 10px;
			text-align:center;
			font-weight:600;
			color:#fff;
			}
			#main-nav select{
				float:right;
				margin-top:10px;
			
			}
			
			.hero-unit{
				background:  none/*#ECF0F1*/;
				padding-top:160px;
				z-index:2;
				position:relative;
			}
			
			.hero-unit hr.half{
				border: none;
				margin-bottom:40px;
			}
			.hero-unit h2{
				margin-bottom:40px;
			}
			.hero-unit h1, .hero-unit h2 {
				color:#fff;
				font-weight:700;				
			}
			
			.hero-unit h1 {
				font-size:70px;
			}
			
			#header-section{
				position:relative;
				overflow:hidden;
			}
			#header-section .innerbg{
				background: #b94a48 url(../../images/redbg.jpg) 0% 0%  fixed; /*url(../../images/bgipad.jpg) 0% 0%  fixed;*/
				min-height:650px;
				width:100%;
				display:inline-block;
				margin:0px;
				padding:0px;
				background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				-webkit-background-size: cover;
				position:relative;

				
			}
			#header-section2 .innerbg{
				background: #fff
						
			}
			
			.overlaybg{
				margin: 0px;
				width: 100%;
				height: 100%;
				min-height:650px;
				min-width: 100%;
				background: rgba(0, 0, 0, 0.3);
				padding-bottom:50px;
			}
		
			
		
	.testimonial-box{
		border:4px solid transparent;
		padding: 10px;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-transition: 0.25s;
		-moz-transition: 0.25s;
		-o-transition: 0.25s;
		transition: 0.25s;
	}
	
	.testimonial-box:hover{
		border:4px solid #5bc0de;
		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
	}
			
			
		
			hr.half {
			margin: 12px 0;
			border: 0;
			border-top: 1px solid #ECF0F1;
			border-bottom: 1px solid #ffffff;
			}
		
	.page-header{
		border-bottom:none;
		padding:20px 0px;
		
	}
	
	
	.page-header.slogan span{
		margin-bottom:20px;
	}
	
	.page-header h3{
		font-size:60px;
		text-transform:uppercase;
		
		border-bottom:14px solid #2b2b2b;
		display:inline-block;
		line-height:70px;
		color:#16a085;
		width:100%;
		padding-bottom:0px;
		
		
	}
	
	.page-header h3 small{
		color:#4b4b4b;
		border-bottom:none;
		font-size:18px;
	}
	
	.page-header.well h3{
		font-size:26px;
		text-transform:uppercase;
	}






/**************************** TEAM & ABOUT ***************************/
#team-section{
	background:#fff;
}

.team-items-row{
	margin-bottom:70px;
	display:inline-block;
}

.skills-services{
width:100%;
display:inline-block;
padding:50px 0px;


margin-bottom:-55px;
}

.skills-services h3{
	margin-bottom:20px;

}

h3{
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

.progress, .ui-slider {
  background: #e8edf2;
  border-radius: 32px;
  height: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
  .progress .bar, .ui-slider .bar {
    background: #2b2b2b;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
  .progress .bar-success, .ui-slider .bar-success {
    background-color: #2ecc71;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
  .progress .bar-warning, .ui-slider .bar-warning {
    background-color: #FFAA49;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
  .progress .bar-danger, .ui-slider .bar-danger {
    background-color: #e74c3c;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
  .progress .bar-info, .ui-slider .bar-info {
    background-color: #3498db;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
/****************************** FEATURES ***************************************/
	#panel{
				display:inline-block;
				width:100%;
				min-width:100%;
				min-height:100px;
				z-index:3;
				margin:0px 0px 0px;
				color:#2b2b2b;
				padding:20px 0px;

			}
	#features-section{
				border-top: 4px solid #dedede;
				min-height:550px;
				position:relative;
				overflow:hidden;
				color:#333;
				
	}
	
	.feature-box:hover{

	}
		
		 .panel{
				display:inline-block;
				width:100%;
				min-width:100%;
				min-height:100px;
				z-index:3;
				margin:0px 0px 0px;
				color:#2b2b2b;
				padding:60px 0px;

			}
			
			
			.panel.first{
				margin-top:-30px;	
			}
			
			.panel.nobg{
				background:none;
				box-shadow: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;			
			}
			
			.panel span{

				text-shadow:none;
				font-size:50px;
				font-weight:300;
				width:100%;
				display:inline-block;
				line-height:52px;
				
			}
			
			.panel span .inner{

				text-shadow:none;
				font-size:18px;
				font-weight:300;
				width:100%;
				display:inline-block;
				color:#2b2b2b;
				text-transform:none;
				border-top:1px solid #dedede;
				border-bottom:1px solid #dedede;
			}	
			
			.panel .inner-text{
				width:100%;
				text-shadow:none;
				font-size:22px;
				font-weight:100;
				
				display:inline-block;
				color:#2b2b2b;
				text-transform:none;
				line-height:28px;
				margin-top:20px;


			}
	
	.features-more{
		padding:60px 0px 100px;
		display:inline-block;
		min-height:280px;

	}
	.features-more2{
		padding:0px 0px 100px;
		display:inline-block;
		min-height:280px;

	}
	.features-more:first-child{
		border-top:none;
		
	}
	
	.features-more h3{
		font-size:26px;
		color:#2b2b2b;
		font-weight:400;
	}
	
	
	.features-more:nth-child(odd) h3{
		text-align:right;
	}
	
	.lead {
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		}

/***************************** PROJECTS ******************************/

	#portfolio-section{
				
				min-height:550px;
				position:relative;
				overflow:hidden;
			}

.proj{
	margin-bottom:40px;
}

/*******************
Izotope Boxes
********/
#container-folio{
	margin-bottom:50px;
}
.isotope-item {
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -moz-transform, opacity;
	-o-transition-property: top, left, opacity;
	transition-property: transform, opacity;
	-webkit-transition-property: -webkit-transform, opacity;
}

.project-item {
	margin-bottom: 30px;
}
.isotope-item {
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-duration: 0.8s;
	z-index: 2;
}

.isotope-item:hover{
z-index: 3;
}

/*************
thumbnails NEWS
********/

#container-folio .thumbnail, #container-folio .thumbnail:hover{
	box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

#container-folio .thumbnail img, #container-folio .thumbnail img:hover{

}

#container-folio .thumbnail h4 a{
	color:#2b2b2b;
	border-bottom:1px dashed #dedede;
}

#container-folio .thumbnail h4 a:hover{
	color:#333;
	border-bottom:1px dashed #333;
	text-decoration:none;
}

.news-thumb h4{
	font-size:160%;
	margin-top:20px;
}
.thumbnail.news-thumb img {
border-bottom: none;
}
.client-wrap{
	
	margin-bottom:50px;

}
.logo-client {
	border-right:1px solid #dedede;
	padding-bottom:30px;
	padding-right:30px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	
}
.logo-client:first-child {
	border-left:none;
}
.logo-client:last-child {
	border-right:none;
}


.news-thumb .caption{
	border-right:1px solid #dedede;
	padding-right:30px;
}

.thumbnail .img-wrap{
	position:relative;
	overflow:hidden;
	width:100%;
	height:100%;
	height:180px;
}
.thumbnail .img-wrap img{
	
	width:100%;
	height:auto;
	display:block;
}

.thumbnail .demo-browser .caption {
position: absolute;
bottom: -110%;
transition: all 0.3s ease-in;
-moz-transition: all 0.3s ease-in;
-webkit-transition: all 0.3s ease-in;
-o-transition: all 0.3s ease-in;
display:inline-block;
padding:5%;
width:90%;
background:rgba(250,250,250, 0.95);
filter: alpha(opacity=0);
			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
			-moz-opacity: 0;
			-khtml-opacity: 0;
			opacity: 0;



}

.thumbnail:hover .demo-browser .caption {
			bottom: 0%;
			filter: alpha(opacity=100);
			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
			-moz-opacity: 1;
			-khtml-opacity: 1;
			opacity: 1;
}



/***************************** PRICE ********************************/
#price-section{
	background:#fff;
		
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
		-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	background-size:100% auto;
	padding-top:50px;
}
#price-section .overlay-panel{
	padding-top:50px;
	background:rgba(0,0,0, 0.4)
}
 .pricing-table-header .price-header{

	background-size: 16px 16px;

	color: #fff;
	padding: 19px 0px 20px;
	width:100%;
	margin-bottom:15px;
	display:inline-block;
	font-size: 26px;
	font-weight: 700;

}

.gray .pricing-table-header .price-header {
	background: #34495E;
}

.green .pricing-table-header .price-header {
	background: #2ECC71;
}

.dark-green .pricing-table-header .price-header {
	background:rgba(0,0,0, 0.7);
}

.red .pricing-table-header .price-header {
	background: #E74C3C;
}
.pricing-table-features, .pricing-table-header .price-value{
	padding:20px;
}
.feature-box.price-feature-box {
	padding:0px;
	background:rgba(250,250,250, 0.9);
	border:1px solid rgba(250,250,250, 0.3);
			-webkit-box-shadow: 0px 2px 30px rgba(50, 50, 50, 0.05), 0px 0px 5px rgba(50, 50, 50, 0.05);
		-moz-box-shadow:    0px 0px 20px rgba(50, 50, 50, 0.05), 0px 0px 5px rgba(50, 50, 50, 0.05);
		box-shadow:         0px 0px 30px rgba(50, 50, 50, 0.05), 0px 0px 5px rgba(50, 50, 50, 0.05);
}

.pricing-table-sign-up{
	padding:20px;
}
/************************* PLANS ****************************************************/
/*
 * Copyright (c) 2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
 
.plans {
  margin: 0px auto 50px ;
  zoom: 1;
}
.plans:before, .plans:after {
  content: '';
  display: table;
}
.plans:after {
  clear: both;
}

.plan {
  float: left;
  width: 220px;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
  background: #fafafa;
  background-clip: padding-box;
  border: solid #453b5d;
  border-width: 2px 0 2px 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

}
.span4.plan:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-right:-30px;
  margin-left:30px;
}
.plan:last-child {
  border-width: 2px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.plan-title {
  position: relative;
  margin: -20px -10px 20px;
  padding: 20px;
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  color: #595f6b;
  border-bottom: 1px dashed #d2d2d2;
  
}
.plan-title:before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background-size: 3px 1px;
  background-image: -webkit-linear-gradient(left, white, white 33%, #d2d2d2 34%, #d2d2d2);
  background-image: -moz-linear-gradient(left, white, white 33%, #d2d2d2 34%, #d2d2d2);
  background-image: -o-linear-gradient(left, white, white 33%, #d2d2d2 34%, #d2d2d2);
  background-image: linear-gradient(to right, white, white 33%, #d2d2d2 34%, #d2d2d2);
}

.plan-price {
 margin: 0 auto 20px;
width: 110px;
height: 90px;
line-height: 90px;
font-size: 19px;
font-weight: bold;
color: white;
background: #595f6b;
border-radius: 300px;
-webkit-border-radius: 300px;
-moz-border-radius: 100px;
display: inline-block;
text-align:center;
 
}
.plan-price > span {
  font-size: 12px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
}

.plan-features {
  margin-bottom: 20px;
  line-height: 2;
  font-size: 12px;
  color: #999;
  text-align: center;
}
.plan-features li{
	list-style:none;
}
.plan-features > li > strong {
  font-weight: bold;
  color: #888;
}

.plan-button {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  background: #7c69a3;
  border: 1px solid #222222;
  border-bottom-color: black;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9780cc, #6f5e96);
  background-image: -moz-linear-gradient(top, #9780cc, #6f5e96);
  background-image: -o-linear-gradient(top, #9780cc, #6f5e96);
  background-image: linear-gradient(to bottom, #9780cc, #6f5e96);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 2px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 2px rgba(255, 255, 255, 0.1), 0 1px rgba(0, 0, 0, 0.1);
}
.plan-button:active {
  color: rgba(255, 255, 255, 0.95);
  background: #6f5e96;
  border-color: black #222222 #222222;
  background-image: -webkit-linear-gradient(top, #6f5e96, #8770b9);
  background-image: -moz-linear-gradient(top, #6f5e96, #8770b9);
  background-image: -o-linear-gradient(top, #6f5e96, #8770b9);
  background-image: linear-gradient(to bottom, #6f5e96, #8770b9);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.plan-tall {
  margin: 0;
  background-color: white;
  border-width: 2px;
  border-radius: 7px;
  margin-right:-30px;
  position:relative;
  z-index:100;
  padding-bottom:40px;
}
.plan-tall > .plan-title {
  font-size: 18px;
}
.plan-tall > .plan-price {
  margin: 0 auto 20px;
width: 110px;
height: 90px;
line-height: 90px;
font-size: 22px;
font-weight: bold;
color: white;
background: #595f6b;
border-radius: 300px;
-webkit-border-radius: 300px;
-moz-border-radius: 100px;
display: inline-block;
text-align:center;
 
}
.plan-tall > .plan-features {
  font-size: 13px;
}
.plan-tall > .plan-button {
  padding: 0 16px;
  line-height: 32px;
}
.plan-tall + .plan {
  border-left: 0;
}

/* ############################ TWITTER WIDGET ###################### */

.tweetList li{
	list-style:none;
}

.tweetList li p{
	line-height:36px;
	font-size:32.5px;
	text-align:center;
}

span.slogan .tweetList li p p.timestamp{
	border-top:1px solid rgba(250,250,250, 0.1);
	font-size:18px;
	margin-top:10px;
	text-align:center;
	
}
i.twitt-icon{
	color:#5bc0de;
	
}

#tweets{
	height:150px;
	margin-top:20px;
}

#tweets ul li a{
	color:#5bc0de;
}

/**************************** FOOTER ***********************************************/
footer{
	padding-top:50px;
	background:#438fa5; /*#5bc0de;*/
	
}
footer *{
	color:#fff;
}
footer a{

}

#map {
display: block;
height: 250px;
width: 100%;
min-width: 100%;
max-width: 1350px;
margin-left: auto;
margin-right: auto;
margin-top:20px;
-webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.52) inset;
-moz-box-shadow:    0px 0px 30px rgba(50, 50, 50, 0.52)inset;
box-shadow:         0px 0px 30px rgba(50, 50, 50, 0.52)inset;
border-top: 4px solid #2fe2bf;
}

.footer-links{
	padding-left:0px;
	margin-left:0px;
}
.footer-links li{
	list-style:none;
	float:left;
	display:inline-block;
	margin-right:5px;
	font-size:12px;
	font-weight:300;
	padding-right:5px;
	
}
.footer-links li:after{
	content:"//";
	margin-left:5px;
}

.footer-links li a{
	color:#fff;
	text-decoration:underline;
	
}

footer address{
	line-height:22px;
	.
}

/****************************** BUTTONS *********************************************/
.btn.btn-large {
padding-bottom: 16px;
padding-top: 18px;
}

.progress, .ui-slider {
	background: #e8edf2;
	border-radius: 2px;
	height: 25px;
}

.btn {
  border: none;
  background: #34495e;
  color: white;
  font-size: 16.5px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: 0px 1px 0px rgba(50,50,50, 0.5);
  -moz-box-shadow: 0px 1px 0px rgba(50,50,50, 0.5);
  box-shadow: 0px 1px 0px rgba(50,50,50, 0.5);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; 
  }
  .btn:hover, .btn:focus {
    background-color: #4e6d8d;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; 
	}
  .btn:active, .btn.active {
    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; 
	}
  .btn.disabled, .btn[disabled] {
    background-color: #95a5a6;
    color: white; 
	}
  .btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px;
	}
.btn-primary {
  background-color: #428bca;
  border-color: #428bca;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #357ebd;
  border-color: #3071a9;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #428bca;
}

.btn-white{
	background:rgba(0,0,0, 0.7);
	border:2px solid #fff;
	color:#fff;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	font-size: 160%;
	padding:10px 10px 30px;
	display:inline-block;
	margin-bottom:30px;
}

.btn-white span, .panel .btn-white span{
	font-size:70%;
	display:inline-block;
	width:70%;
	line-height:20px;
	margin-top:0px;
}

.btn-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
  background-color: #eea236;
  border-color: #ec971f;
}

.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  background-color: #d43f3a;
  border-color: #c9302c;
}

.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-success {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  background-color: #4cae4c;
  border-color: #449d44;
}

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-info {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
  background-color: #46b8da;
  border-color: #31b0d5;
}

.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}

.btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;
}

.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #333333;
  text-decoration: none;
}
	  
	 .btn.btn-large.btn-demo{
		background:none;
		border:3px solid rgba(250,250,250, 0.8);
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		padding-bottom: 9px;
		padding-top: 10px;
	 }
	 
	 .btn.btn-large.btn-demo:hover{
		background:rgba(0,0,0, 0.3);
		border:3px solid #fff;
		
	 }
	 
  .btn-toolbar .btn {
    font-size: 18px;
    padding: 10px 14px 9px; }
    .btn-toolbar .btn:first-child {
      -webkit-border-radius: 6px 0 0 6px;
      -moz-border-radius: 6px 0 0 6px;
      border-radius: 6px 0 0 6px; }
    .btn-toolbar .btn:last-child {
      -webkit-border-radius: 0 6px 6px 0;
      -moz-border-radius: 0 6px 6px 0;
      border-radius: 0 6px 6px 0; }

.btn-toolbar .btn.active {
  color: white; }
  
  input[type="text"].subscribe-input{
	height:45px;
	background:rgba(0,0,0, 0.6);
	border:1px solid rgba(0,0,0, 0.5);
	border-right:none;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
  }
.glass-border{
	padding:20px 0px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border: 1px solid rgba(250,250,250, 0.28);
	background:rgba(250,250,250, 0.15);
	display:inline-block;
	max-width:60%;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
			border-radius: 5px;
}
.demo-headline {
  padding: 73px 0 110px;
  text-align: center; }

 /**************************** COLORS *********************************/
 
 .color-dark{
	color:#2b2b2b;
 }

/************************** SCROLL EVENT SCROLL BUTTONS ******************/
		.top-link{
			position: fixed;
			top:130px;
			right:0px;
			display:inline-block;
			z-index:10000;
			width:50px;
			height:50px;
			background:url(../img/topbottomlinks.png) 0px -50px no-repeat;
		}
		
		
		.top-link-click{
			
			position: fixed;
			top:80px;
			right:0px;
			z-index:10000;
			width:50px;
			height:50px;
			background:url(../img/topbottomlinks.png) 0px 0px  no-repeat;
			
		}
		.bottom-link-click{
			display:inline-block;
			width:50px;
			height:50px;
			position: fixed;
			bottom:10px;
			right:0px;
			z-index:10000;
			width:50px;
			height:50px;
			background:url(../img/topbottomlinks.png) 0px -150px no-repeat;
		}
		
		.bottom-link{
			position: fixed;
			bottom:60px;
			right:0px;
			display:inline-block;
			z-index:10000;
			width:50px;
			height:50px;
			background:url(../img/topbottomlinks.png) 0px -100px no-repeat;
			
			
		}
		
		.bottom-link.right, .bottom-link-click.right, .top-link-click.right, .top-link.right{
			right:-60px;
		}
			/* HOVER OPACITY EFFECT */
			.top-link-click, .top-link, .bottom-link-click
			, .bottom-link	{
					
					filter: alpha(opacity=30);
					 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30); /* IE 5.5+*/
					-moz-opacity: 0.3; /* Mozilla 1.6 - */
					-khtml-opacity: 0.3; /* Konqueror 3.1, Safari 1.1 */
					opacity: 0.3; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
						-moz-transition: all 0.3s ease-in-out;
						-o-transition: all 0.3s ease-in-out;
						-webkit-transition: all 0.3s ease-in-out;
						-ms-transition: all 0.3s ease-in-out;
						transition: all 0.3s ease-in-out;
					
			}

			.top-link-click:hover, .top-link:hover, .bottom-link-click:hover
			, .bottom-link:hover{
			
					cursor:pointer;
					filter: alpha(opacity=100);
					 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
					-moz-opacity: 1; /* Mozilla 1.6 - */
					-khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
					opacity: 1; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
			
			}
			/* END HOVER OPACITY EFFECT */
		
		.top-corner{
			position:absolute;
			top:0px;
			left:-30px;
			width:1px;
			height:1px;
		}
		.bottom-corner{
			position:absolute;
			bottom:0px;
			left:-30px;
			width:1px;
			height:1px;
		}
		.gobottom{
			filter: alpha(opacity=0);
			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
			-moz-opacity: 0;
			-khtml-opacity: 0;
			opacity: 0;
			-moz-transition: all 2s ease;
			-o-transition: all 2s ease;
			-webkit-transition: all 2s ease;
			-ms-transition: all 2s ease;
			transition: all 2s ease;
			box-sizing:border-box;
			-moz-box-sizing:border-box;
			color:#fff;
			font-size:100%;
			padding-top:100px;
			float:none;
			width:100%;
		}
		
		.gobottom.active{
			filter: alpha(opacity=100);
			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
			-moz-opacity: 1;
			-khtml-opacity: 1;
			opacity: 1;
			padding-top:0px;
			
		}
		.gobottom a {
			color:#fff;
		}
		.gobottom a {
			color:#fff;
			text-decoration:none;
		}
		
		.gobottom:hover {
			color:rgba(250,250,250, 0.8);
			
		
		}
		
/*****************************  @MEDIA *************************************************/

@media (min-width:1200px){
	#main-nav select {
		display:none;
	}
	
}/* \media 1200 */

@media (max-width:979px){

	body{
		padding:0px;
	}
	.container, .navbar .container{
		padding:0px 40px;
	}
		
	.nav-collapse .nav > li > a:hover, 
	.nav-collapse .nav > li > a:focus, 
	.nav-collapse .dropdown-menu a:hover, 
	.nav-collapse .dropdown-menu a:focus {
		background-color: #5bc0de;
		color:#fff;
		text-shadow:none;
	}
	.navbar .nav .active > a, 
	.navbar .nav .nav .active > a:hover, 
	.navbar .nav .nav .active > a:focus {
		background-color: #5bc0de;
		color: #fff;
		text-shadow:none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border-top: 6px solid #transparent;
}

	.collapse.in {
		padding-top:20px;
	}


	.btn-block-third {
			display: block;
			width: 100%;
			padding-right: 10px;
			padding-left: 10px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			float: left;
			margin-bottom:10px;
		}
		
		i.or {
			float: none;
			display: block;
			width:100%;
			margin-bottom:10px;
		}
			.camein p {
				width: 60%;
		}
		
		#header-section .hero-unit {
			background: none/*#ECF0F1*/;
			padding: 80px 20px 20px;
			}
			
	.panel.first {
		margin-top: 0px;
	}
	
	.thumbnail .img-wrap{
		max-height:100px;
	}
	
	
	 .navbar-inner{
		padding:10px 0px;
	}
	
	 .btn-navbar{
		margin-top:15px;
	}
	
	  .nav-collapse .nav > li > a,  .nav-collapse .dropdown-menu a {
		color: #2b2b2b;
		}
	
	.navbar-fixed-top, .navbar-fixed-bottom {
		position: fixed;
		margin-bottom:30px;
	}
	
	.btn-white{
		background:none;
		border:2px solid #fff;
		color:#fff;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		font-size: 100%;
		padding:10px 10px 30px;
		display:inline-block;
		margin-bottom:30px;
	}

	.glass-border {
		padding: 10px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px solid rgba(250,250,250, 0.28);
		background: rgba(250,250,250, 0.15);
		display: inline-block;
		max-width: 100%;
		
	}	
	.btn.btn-action {
		background:url(../img/actionbtnalt.jpg)	center center no-repeat;
		background-size:100% 100%;
		padding:30px 0px;
		width:70%;
		min-width:70%;
		text-transform:uppercase;
	}
}

@media (max-width: 767px){
	.page-header h3{
		display:block;
		text-align:center;
	}
	
	.btn-white{
		background:none;
		border:3px solid #fff;
		color:#fff;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		font-size: 160%;
		padding:10px 10px 30px;
		display:inline-block;
		margin-bottom:30px;
}
	.btn-white span, 
	.panel .btn-white span {
		font-size: 70%;
		display: inline-block;
		width: 100%;
		line-height: 20px;
		margin-top: 0px;
}

	.btn{
		
	}
	.logo-client{
		border-right:none;
		border-bottom:1px solid #dedede;
	}
	
	.news-thumb .caption{
		padding-left:30px;
	}
	
	#showbar{
		margin-top:40px;
	}
	
	.features-more {
		border-top: 14px solid #ddd;
		padding: 10px 0px;
	}
	
	.features-more{
		background: none;
		
	}
	
	.features-more:nth-child(even){
		background: none;
		
	}
	.features-more:nth-child(odd).span6{
		background: none;
		
		
	}
	
	.features-more:nth-child(odd) h3{
		text-align:left;
	}
	
	.panel span {
		text-shadow: none;
		font-size: 26px;
		line-height:30px;
	}
	
	.panel .slogan.lead{
	
		font-size:140%;
		line-height:30px;
	}
	
	.panel span .inner {
		margin-top:10px;
		font-size:16px;
		line-height:28px;
	}
	
	.text-right{
		text-align:center;
	}
	
	.red-panel-bottom .lead {
		font-size:200%;
		line-height:28px;
		text-align:left;
	}

	.caption.team-caption{
		display:inline-block;
		float:left;
		width:56%;
		padding:2%;
		margin:0px;
	}
	.sample{
		display:inline-block;
		float:left;
		width:40%;
	}
	
	.thumbnail .img-wrap{
	
	max-height:180px;
	}
	
	#header-section .hero-unit {
		padding: 70px 20px 20px;
	}
	
	.navbar-fixed-top{
		margin-bottom:30px;
	}
	
	 .navbar-inner{
		padding:5px 0px;
	}
	.hero-unit h1{
		font-size:40px;
		line-height:50px;
	}
	.hero-unit h2{
		font-size:22px;
		line-height:24px;
	}
	
	#header-section .innerbg {
		min-height: 450px;
		height:100%;
	}
	
	.panel .lead {
		font-size: 120%;
	}
	
	.span4.plan:first-child, 
	.span4.plan:last-child {
	 	border-top-left-radius: 7px;
		border-bottom-left-radius: 7px;
		border-top-right-radius: 7px;
		border-bottom-right-radius: 7px;
		margin-right: 0px;
		margin-left: 0px;
		border-width: 2px 2px 2px 2px;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	.plan-tall + .plan {
		border-left: 2px;
		border: solid #453b5d;
	}
	
	.tweetList li p {
		line-height: 28px;
		font-size: 24px;
		text-align: center;
	}
}

#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;   
}

#footy {
	text-align:center;
}

#booton {
	margin-top:10px;
}